# Dependency directories
node_modules/
dist/

# Environment variables
.env

# IDE files
.vscode/

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# Windows
Thumbs.db

# Jest test coverage
coverage/

# Editor-specific files
*.swp
*.swo

readme.md

# Build files
/dist
/build
*.js



